ion-card#header {
    --background: linear-gradient(var(--ion-color-primary), var(--ion-color-tertiary));
}

.ebelia {
    background-image: url('../../assets/images/home/promotionsHome.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    
}

// .claim-now{

// }