ion-card-title {
    max-width: 80%;
    white-space: normal;
    overflow: hidden;
    text-wrap: wrap;

}

ion-card-header {
    max-width: 100%;
}

ion-card{
    max-width: 50%;
    white-space: normal;
}