<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/apply"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Grant
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<div class="flex space-x-10 w-full">
  <ion-img
    class="w-52"
    src="../../../assets/images/grant/x-post.svg"
  ></ion-img>
  <div>
    <h2 class="text-3xl w-50%">Malaysia Digital X-Port Grant</h2>
    <p class="text-gray-500">MDEC | Digital</p>
  </div>
</div>
  <div
    class="flex items-center border-slate-300 border-solid border-2 px-4 py-3 rounded-lg m-3 space-x-5"
  >
    <ion-icon
      name="book-outline"
      size="large"
      color="warning"
    ></ion-icon>
    <p>
      Your application will be reviewed by the company once submitted
    </p>
  </div>

  <div class="flex">
    <ion-card class="w-full rounded-xl">
      <ion-card-header class="flex flex-row space-x-5">
        <ion-icon name="calendar-outline" size="large"></ion-icon>
        <div>
          <ion-card-subtitle class="uppercase"
            >PROJECT DURATION</ion-card-subtitle
          >
          <ion-card-title class="">Up to 1 year</ion-card-title>
        </div>
      </ion-card-header>
    </ion-card>
    <ion-card class="w-full rounded-xl">
      <ion-card-header class="flex flex-row space-x-5">
        <ion-icon name="stats-chart-outline" size="large"></ion-icon>
        <div>
          <ion-card-subtitle class="uppercase">PROVIDER</ion-card-subtitle>
          <ion-card-title class="">MDEC Malaysia</ion-card-title>
        </div>
      </ion-card-header>
    </ion-card>
  </div>

  <ion-card class="w-full rounded-xl mb-4">
    <ion-card-content class="space-y-3">
      <h3 class="uppercase">Local Owned Company</h3>
      <p>
        Up to 50% of total project cost or up to RM1,000,000
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card class="w-full rounded-xl mb-4">
    <ion-card-content class="space-y-3">
      <h3 class="uppercase">FOREIGN OWNED COMPANY</h3>
      <p>
        Up to 30% of total project cost or up to RM1,000,000 and its headquarters is to be in Malaysia
      </p>
    </ion-card-content>
  </ion-card>
  

   <ion-card class="w-full rounded-xl">
      <ion-card-header class="flex flex-row space-x-5">
        <ion-icon name="stats-chart-outline" size="large"></ion-icon>
        <div>
          <ion-card-title class="">Download MDXG application form template</ion-card-title>
          <ion-button fill="outline" shape="round" color="secondary" class="w-full pt-3">
            <p class="font-bold py-5">Download Form</p>
          </ion-button>
        </div>
      </ion-card-header>
    </ion-card>
  

     <ion-card class="w-full rounded-xl">
      <ion-card-header class="flex flex-row space-x-5">
        <ion-icon name="stats-chart-outline" size="large"></ion-icon>
        <div>
          <ion-card-subtitle class="uppercase">ABOUT THE GRANT</ion-card-subtitle>
          <ion-card-subtitle class="">MDXG is focused on supporting Malaysian technology companies that have demonstrated export readiness and are seeking to expand their global market presence. The grant aims to stimulate high-value digital exports that lead to the development and commercialisation of market-driven, disruptive, innovative, and sustainable products or services for the global market.</ion-card-subtitle>
        </div>
      </ion-card-header>
    </ion-card>
     <ion-card class="w-full rounded-xl">
      <ion-card-header class="flex flex-row space-x-5">
        <ion-icon name="stats-chart-outline" size="large"></ion-icon>
        <div>
          <ion-card-subtitle class="uppercase">WHAT IS THE ELIGIBILITY CRITERIA?</ion-card-subtitle>
          <ion-card-subtitle class="">
            <ol>
              <li>Local-owned Company
                <ul>
                  <li>Incorporated in Malaysia under Companies Act 1965 or the Companies Act 2016;</li>
                  <li>Minimum paid up capital of at least RM50,000 for companies.</li>
                  <li>Active and minimum of 51% equity held by Malaysian(s) as per shareholding structure in the SSM.</li>
                  <li>In operation for at least one (1) year.</li>
                </ul>
              </li>
              <li>Foreign-owned Company
                <ul>
                  <li>Incorporated in Malaysia under Companies Act 1965 or the Companies Act 2016.</li>
                  <li>Active and minimum issued and paid-up capital of RM500,000.</li>
                  <li>Headquarters to be in Malaysia.</li>
                  <li>In operation for at least one (1) year.</li>
                </ul>
              </li>
            </ol>
          </ion-card-subtitle>
        </div>
      </ion-card-header>
    </ion-card>
    
  <hr class="border-b-2" />
  <ion-button fill="solid" shape="round" color="secondary" class="w-full pt-3">
    <p class="font-bold py-5">Apply Now</p>
  </ion-button>