<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/jobs"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Jobs
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flex space-x-10 w-full">
    <ion-img
      class="w-52"
      src="../../../assets/images/jobs/duolingo.svg"
    ></ion-img>
    <div>
      <h2 class="text-3xl w-50%">Technician</h2>
      <p class="text-gray-500">Duolingo</p>
    </div>
  </div>
  
  <ion-card class="w-full rounded-xl mb-4">
    <ion-card-content class="space-y-3">
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-icon name="location-outline" class="text-xl mt-4"></ion-icon>
          </ion-thumbnail>
          <ion-label class="ion-text-wrap">Kuala Lumpur, Malaysia</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-icon name="time-outline" class="text-xl mt-4"></ion-icon>
          </ion-thumbnail>
          <ion-label class="ion-text-wrap">Full-time</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-icon name="cash-outline" class="text-xl mt-4"></ion-icon>
          </ion-thumbnail>
          <ion-label class="ion-text-wrap">Undisclosed</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-icon name="briefcase-outline" class="text-xl mt-4"></ion-icon>
          </ion-thumbnail>
          <ion-label class="ion-text-wrap">Education | Technology</ion-label>
        </ion-item>
  
      </ion-list>
    </ion-card-content>
  </ion-card>
  
  <ion-card class="w-full rounded-xl mb-4">
    <ion-card-content class="space-y-3">
      <h3 class="uppercase">ABOUT THE JOB</h3>
      <p>
        1. Do technician and fix people problems instead
        2. Fix, fix, fix things
        3. Do not get electrocuted while doing your job
        4. Probably have to deal with nasty and picky employees
        5. Sincerely hope that the electricity will go down so that we can skip
           another day of tedious work
        6. Yep, you definitely get money while working with us
      </p>
    </ion-card-content>
  </ion-card>
  
  <ion-card class="w-full rounded-xl mb-4">
    <ion-card-content class="space-y-3">
      <h3 class="uppercase">ABOUT THE JOB</h3>
      <p>
        1. Proficient in Electronics and Computers
        2. Inexperienced people are welcomed
        3. Has to be based in Malaysia
        4. Has a passion in helping people to learn the language they want
           (probably not to only watch anime)
      </p>
    </ion-card-content>
  </ion-card>
  
  <hr class="border-b-2" />
  <ion-button fill="solid" shape="round" color="secondary" class="w-full pt-3">
    <p class="font-bold py-5">Apply Now</p>
  </ion-button>
</ion-content>