<ion-searchbar class="p-5 pb-10 mt-30" color="light"></ion-searchbar>

<ion-title>Suggested Topics</ion-title>
<div class="ml-4 mt-4">
  <ion-chip *ngFor="let filter of filters" class="mr-4 text-md">{{ filter }}</ion-chip>
</div>

<!-- Performance -->
<div class="mt-10 px-5 pt-2">
  <h2>Your Performance So Far</h2>

  <div class="flex">
    <ion-card class="w-[40vw] flex flex-col" *ngFor="let perf of assessmentKPI">
      <ion-row>
        <ion-col col-2 class="flex align-middle justify-center">
          <ion-icon [name]='perf.icon'  class="flex align-middle items-center justify-center text-center text-3xl mt-5" color="warning"></ion-icon>
        </ion-col>
        <ion-col col-8 class="mt-2 p-4">
            <ion-card-subtitle>{{perf.title}}</ion-card-subtitle>
          <ion-card-title class="text-md">{{perf.subtitle}}</ion-card-title>
        </ion-col>
    </ion-row>
    </ion-card>
  </div>
</div>

<ion-title class="mt-8">Assessments Based on Courses You Take</ion-title>
<div class="ml-4 mt-4 flex">
  <ion-card *ngFor="let course of assessment" [href]="course.path">
    <img width="250" [alt]="course.title" [src]="course.image" />
    <ion-card-header>
      <ion-card-title text-wrap>{{course.title}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{course.desc}}
    </ion-card-content>
  </ion-card>
</div>

<ion-title class="mt-8">Top Assessments</ion-title>
<div class="ml-4 mt-4 flex">
  <ion-card *ngFor="let course of assessment1">
    <img width="250" [alt]="course.title" [src]="course.image" />
    <ion-card-header>
      <ion-card-title text-wrap>{{course.title}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{course.desc}}
    </ion-card-content>
  </ion-card>
</div>
