<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/sponsor"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="flex space-x-10 w-full dark:text-white">
  <ion-img
    class="w-52"
    src="../../../assets/images/sponsor/rural-area.svg"
  ></ion-img>
  <div>
    <h2 class="text-3xl w-50%">Education for Rural Area Students</h2>
    <p class="text-gray-500">Charisma Movement</p>
  </div>
</div>

<ion-card
  class="mt-5 bg-opacity-20 bg-rose-500 border-2 border-solid border-rose-500 rounded-2xl"
>
  <ion-card-header class="flex flex-row items-center gap-5">
    <ion-icon name="star-outline" size="large" color="primary"></ion-icon>

    <div>
      <p class="text-lg text-black dark:text-white">
        Get points by sponsoring this initiative!
      </p>
    </div>
  </ion-card-header>
</ion-card>

<div class="flex flex-col">
  <div class="flex">
    <ion-card class="w-full rounded-xl bg-slate-100">
      <ion-card-header class="flex flex-row space-x-5">
        <ion-icon name="location-outline" size="large"></ion-icon>
        <div>
          <ion-card-subtitle class="uppercase">Location</ion-card-subtitle>
          <ion-card-title class="dark:text-black">Malaysia</ion-card-title>
        </div>
      </ion-card-header>
    </ion-card>
    <ion-card class="w-full rounded-xl bg-slate-100">
      <ion-card-header class="flex flex-row space-x-5">
        <ion-icon name="apps-outline" size="large"></ion-icon>
        <div>
          <ion-card-subtitle class="uppercase">Category</ion-card-subtitle>
          <ion-card-title class="dark:text-black">Education</ion-card-title>
        </div>
      </ion-card-header>
    </ion-card>
  </div>
  <div class="flex">
    <ion-card class="w-full rounded-xl bg-slate-100">
      <ion-card-header class="flex flex-row space-x-5">
        <ion-icon name="people-outline" size="large"></ion-icon>
        <div>
          <ion-card-subtitle class="uppercase">Donors</ion-card-subtitle>
          <ion-card-title class="dark:text-black">10</ion-card-title>
        </div>
      </ion-card-header>
    </ion-card>
    <ion-card class="w-full rounded-xl bg-slate-100">
      <ion-card-header class="flex flex-row space-x-5">
        <ion-icon name="cash-outline" size="large"></ion-icon>
        <div>
          <ion-card-subtitle class="uppercase">Amount Raised (RM)</ion-card-subtitle>
          <ion-card-title class="dark:text-black">10,000</ion-card-title>
        </div>
      </ion-card-header>
    </ion-card>
  </div>
</div>

<ion-card class="w-full rounded-xl bg-slate-100">
  <ion-card-content class="space-y-3 dark:text-black">
    <h3 class="uppercase">About the Initiative</h3>
    <ion-text>
      Project Anak Malaysia aims to promote the importance of education by conducting lessons and workshops for the primary school students of the local schools, SK Samparita, SK Temuno Teringai Darat & SK Tumunda Salimandut.<br/><br/>
      ​Job Scope:
      <ul class="ml-4 list-disc">
        <li>Teaching primary students in Sabah</li>
        <li>Understanding job scopes of teachers</li>
        <li>Gain grass-root exposure to issues of rural education</li>
      </ul>
    </ion-text>
  </ion-card-content>
</ion-card>
<ion-button fill="solid" shape="round" color="secondary" class="w-full">
  <p class="font-bold py-5">Donate Now</p>
</ion-button>
