<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/learn"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="flex space-x-10 w-full">
  <ion-img
    class="w-52"
    src="../../../assets/images/assessment/cash-flow.svg"
  ></ion-img>
  <div>
    <h2 class="text-3xl w-50%">Cash Flow Analysis</h2>
    <p class="text-gray-500">Finance | 1 hours</p>
  </div>
</div>

<ion-card
  class="mt-5 bg-opacity-20 shadow-none border border-slate-400 rounded-lg"
>
  <ion-card-header class="flex flex-row items-center gap-5">
    <ion-icon
      name="checkmark-circle-outline"
      size="large"
      color="warning"
    ></ion-icon>

    <div>
      <ion-card-subtitle>You only get 1 attempt per week</ion-card-subtitle>
      <ion-card-title>Attempt(s) left: 1</ion-card-title>
    </div>
  </ion-card-header>
</ion-card>

<ion-card
  class="mt-5 bg-opacity-20 bg-rose-500 border-2 border-solid border-rose-500 rounded-2xl"
>
  <ion-card-header class="flex flex-row items-center gap-5">
    <ion-icon name="star-outline" size="large" color="primary"></ion-icon>

    <div>
      <p class="text-lg text-black dark:text-white">
        Get <span class="font-bold">100 points</span> by completing this course!
      </p>
    </div>
  </ion-card-header>
</ion-card>

<div class="flex">
  <ion-card class="w-full rounded-xl bg-slate-100">
    <ion-card-header class="flex flex-row space-x-5">
      <ion-icon name="book-outline" size="large"></ion-icon>
      <div>
        <ion-card-subtitle class="uppercase"
          >PRE-REQUESITE COURSE</ion-card-subtitle
        >
        <ion-card-title>Fundamentals of Finance</ion-card-title>
      </div>
    </ion-card-header>
  </ion-card>
  <ion-card class="w-full rounded-xl bg-slate-100">
    <ion-card-header class="flex flex-row space-x-5">
      <ion-icon name="stats-chart-outline" size="large"></ion-icon>
      <div>
        <ion-card-subtitle class="uppercase">TOTAL QUESTIONS</ion-card-subtitle>
        <ion-card-title>50</ion-card-title>
      </div>
    </ion-card-header>
  </ion-card>
</div>

<ion-card class="w-full rounded-xl bg-slate-100 mb-20">
  <ion-card-content class="space-y-3">
    <h3 class="uppercase">About the ASSESSMENT</h3>
    <p>
      This course teaches you to not be broke within 365 days, we often find
      ourselves spending money, swiping credit cards like you are Elon Musk. But
      truth is, you should be equipped with knowledge in financial management to
      make your life less miserable. I don't know how to continue, lorem ipsum
      dolor sit amet, and you probably need to come up with the rest of the
      description.
    </p>
  </ion-card-content>
</ion-card>

<hr class="border-b-2" />
<ion-button fill="solid" shape="round" color="secondary" class="w-full pt-3">
  <p class="font-bold py-5">Attempt Now</p>
</ion-button>
