<ion-app class="bg-gradient-to-b from-rose-500 to-orange-400">
  <div class="h-1/2 w-full flex justify-center">
    <!-- <div
      class="bg-[url('../assets/circles.svg')] bg-no-repeat mt-4 w-full h-full bg-center flex justify-center"
    >
  </div> -->
    <ion-img src="../assets/splash.svg" class="w-screen h-[80vh] md:h-[70vh]"></ion-img>
    <!-- <ion-img
      src="../assets/splash.svg"
      class="w-9/12 lg:w-5/12 mt-8 h-screen absolute -top-56"
    ></ion-img> -->
  </div>

  <ion-footer>
    <ion-toolbar class="rounded-b-none rounded-t-[6%]">
    <ion-card
      class="m-0 pb-16 pt-4 px-1 w-full"
    >
      <ion-card-header class="text-center"
        ><ion-card-title>Enhance your life with MYHelp</ion-card-title>
      </ion-card-header>
      <ion-card-content class="text-center">
        Your all-in-one solution to a better quality of life
      </ion-card-content>
      <div class="p-4 flex flex-col space-y-4">
        <ion-button color="secondary" shape="round" type="button" class="h-14" href="/signup">Create An Account</ion-button>
        <ion-button color="secondary" shape="round" fill="outline" class="h-14" href="/login">Log In</ion-button>
      </div>
    </ion-card>
  </ion-toolbar>
  </ion-footer>
</ion-app>
