<ion-app class="bg-gradient-to-b from-rose-500 to-orange-400">
  <div class="h-1/2 w-full flex justify-center">
    <!-- <div
      class="bg-[url('../assets/circles.svg')] bg-no-repeat mt-4 w-full h-full bg-center flex justify-center"
    >
  </div> -->
    <ion-img src="../assets/circles.svg" class="w-full h-full mt-4"></ion-img>
    <ion-img
      src="../assets/splash.svg"
      class="w-9/12 md:w-6/12 lg:w-3/12 h-full absolute -top-56"
    ></ion-img>
  </div>

  <ion-card
    class="m-0 rounded-b-none pb-16 pt-4 rounded-t-[6%] px-1 absolute top-[29rem] w-full h-screen"
  >
    <ion-card-header class="text-center"
      ><ion-card-title>Enhance your life with MYHelp</ion-card-title>
    </ion-card-header>
    <ion-card-content class="text-center">
      Your all-in-one solution to a better quality of life
    </ion-card-content>
    <div class="p-4 flex flex-col space-y-4">
      <ion-button>Create An Account</ion-button>
      <ion-button fill="outline">Log In</ion-button>
    </div>
  </ion-card>
</ion-app>
