<ion-card class="px-2 border-2 border-solid border-slate-300">
  <ion-card-header>
    <div class="flex items-center py-2">
      <ion-icon name="location-outline" size="large"></ion-icon>
      <ion-card-subtitle class="uppercase pl-1">Send to</ion-card-subtitle>
    </div>
      <ion-card-title class="normal-case">I am a great potato ball</ion-card-title>
      <ion-card-subtitle>100, Jalan Potato Universe
        00000 Potato City
        Kuala Lumpur
      </ion-card-subtitle>
  </ion-card-header>
</ion-card>
<!-- 
<div>
<ion-card *ngFor="let book of books">
  <ion-card-header>
    <ion-thumbnail slot="start">
      <img src={{book.image}}>
    </ion-thumbnail>
    <ion-card-title>{{book.title}}</ion-card-title>
    <ion-card-subtitle>{{book.desc}}</ion-card-subtitle>
    <ion-button fill="clear">Remove</ion-button>
  </ion-card-header>
</ion-card>
</div> -->

<hr class="border-b-2" />
<ion-button fill="solid" shape="round" color="secondary" class="w-full pt-3">
  <p class="font-bold py-5">Proceed to Delivery</p>
</ion-button>