<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Book 📖
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon name="notifications-outline" class="mr-8 text-2xl"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
  
  <ion-segment
    mode="md"
    [(ngModel)]="selectedSegment"
    value="Library"
  >
    <ion-segment-button *ngFor="let item of segmentList; let i = index"
      [value]="item"
      (click)="_segmentSelected(i)"
      ><ion-label>{{item}}</ion-label>
    </ion-segment-button>
  </ion-segment>

</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div [ngSwitch]="selectedSegment">
    <div *ngSwitchCase="'Library'">
        <app-library></app-library>
    </div>
    
    <div *ngSwitchCase="'Cart'">
      <app-library></app-library>
    </div>
    
    <div *ngSwitchCase="'Delivery'">
      <app-library></app-library>
    </div>
  </div>
</ion-content>
  