<ion-searchbar class="p-5 pb-10 mt-30" color="light"></ion-searchbar>

<div class="mt-10 px-5 pt-2">
  <h2>Recent Application</h2>

  <ion-card class="px-2 py-1 border-2 border-solid border-slate-300" *ngFor="let training of trainings">
    <ion-card-header>
      <div class="flex items-center py-2">
        <ion-icon name="bookmark-outline" size="large"></ion-icon>
        <ion-card-subtitle class="uppercase">Training Application</ion-card-subtitle>
      </div>
      <div class="flex justify-between">
        <div>
          <ion-card-title class="normal-case">{{ training.title }}</ion-card-title>

        </div>
        <ion-badge slot="end" color="warning" class="px-2 py-0 text-lg text-white">Reviewing</ion-badge>
      </div>
    </ion-card-header>
  </ion-card>
</div>


<div class="mt-10 px-5 pt-2">
  <h2>Past Application</h2>

  <ion-card class="px-2 py-1 border-2 border-solid border-slate-300" *ngFor="let training of trainings">
    <ion-card-header>
      <div class="flex items-center py-2">
        <ion-icon name="bookmark-outline" size="large"></ion-icon>
        <ion-card-subtitle class="uppercase">Training Application</ion-card-subtitle>
      </div>
      <div class="flex justify-between">
        <div>
          <ion-card-title class="normal-case">{{ training.title }}</ion-card-title>

        </div>
        <ion-badge slot="end" color="success" class="px-2 py-0 text-lg text-white">Approved</ion-badge>
      </div>
    </ion-card-header>
  </ion-card>
</div>
